# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
backend/sql_app.db
backend/uploads/


# Virtual environments
venv/
.venv/
env/
.env/*

# Logs
*.log

# OS / IDE
.DS_Store
*.db
.vscode/
.idea/

# Environment / secrets
.env
